.row {
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  transition: transform 0.3s ease;
}

.row :hover {
  background-color: #f1f1f1;
}

.card {
  width: 100%;
}

#footer-text {
  color: white;
  padding: 10px;
  font-size: 25px;
  text-align: center;
}

footer a {
  color: white;
}

body h1 {
  font-size: 50px;
  text-align: center;
}

.card-title {
  font-size: 25px;
  text-align: start;
}
